.jumbotron{
    background-color: rgb(145, 35, 224);
    color: rgb(255, 255, 253);
    padding:70px 30px 70px 30px;
    margin:0px auto;
}
#links{
    margin-top: 50px;
}
.footer{
    background-color: rgb(216, 193, 215);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.row-header{
    margin:0px auto;
    padding:0px;
}